th {
    color: coral;
    background-color: brown;
    font-size: 110%;
  }

h1, h2, h3 {
    color: red;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    
}

.tarea-urgente {
    color: rgb(164, 6, 6);
    font-style: bold;
}

.saludo {
    border: dotted green 5px;

}

#logo {
    border: 2px solid navy;
}

a:hover {
    background-color: black;
}

div > p {
    color: blue;
}