
    <select name="prioridad">
        <option value="0">0</option>
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="60">60</option>
        <option value="80">80</option>
        <option value="100">100</option>
    </select>
    <p>
        <input type="radio" id="priority-low" name="priority" value="L">
        <label for="priority-low">Baja</label>
        <input type="radio" id="priority-normal" name="priority" value="L">
        <label for="priority-normal">Normal</label>
        <input type="radio" id="priority-high" name="priority" value="L">
        <label for="priority-high">Alta</label>
    </p>
    <p>SMS / Email / Telegram
        <input type="checkbox" name="notificacion" id="sms">
        <label for="sms">SMS</label>
        <input type="checkbox" name="notificacion" id="email">
        <label for="email">Email</label>
        <input disabled type="checkbox" name="notificacion" id="telegram">
        <label for="telegram">Telegram</label>
    </p>

    <label for="txt_nombre">Nombre:</label>
    <input type="text" id="txt_nombre" name="nombre">
    <input type="search" name="nombre"><br>
    <input type="tel" name="phone" pattern="[0-9]{9}">
    <input type="password" name="pass">
    <input type="date" name="fecha"><br>
    <input type="email" name="fecha">
    <input type="hidden" name="fecha" value="loquesea"><br>
    <input type="reset" name="fecha" value="Reset">
    <input type="number" name="fecha"><br>
    <input type="range" name="fecha" min="0" max="100">
    <input type="url" name="url">
    <input type="color" name="url">

    <p>Comentario:
        <textarea placeholder="Escriba aqui su cumentario"></textarea>
    </p>

